EAD/EAD.blg
EAD/EAD.bbl
EAD/EAD.aux
EAD/EAD.glo
EAD/EAD.ist
EAD/EAD.out
EAD/EAD.synctex.gz
EAD/EAD.glsdefs
EAD/EAD.gls
EAD/EAD.glg
documents/EmotionConfig Documentation.aux
documents/EmotionConfig Documentation.log
documents/EmotionConfig Documentation.out
documents/EmotionConfig Documentation.synctex.gz
documents/Sprint reflection sprint 4.aux
documents/Sprint reflection sprint 4.log
documents/Sprint reflection sprint 4.out
Sprint reflection sprint 4.synctex.gz
documents/Project Documentation.aux
documents/Project Documentation.log
documents/Project Documentation.out
Project Documentation.synctex.gz
EmotionConfig Documentation.toc
documents/EmotionConfig Documentation.bbl
documents/EmotionConfig Documentation.blg
documents/Sprint reflection sprint 6.aux
documents/Sprint reflection sprint 6.log
documents/Sprint reflection sprint 6.out
Sprint reflection sprint 6.synctex.gz
documents/Sprint reflection 7.aux
documents/Sprint reflection 7.log
documents/Sprint reflection 7.out
Sprint reflection 7.synctex.gz
documents/Demo Tutorial.aux
documents/Demo Tutorial.log
documents/Demo Tutorial.out
Demo Tutorial.synctex.gz
