EAD/EAD.blg
EAD/EAD.bbl
EAD/EAD.aux
EAD/EAD.glo
EAD/EAD.ist
EAD/EAD.out
EAD/EAD.synctex.gz
EAD/EAD.glsdefs
EAD/EAD.gls
EAD/EAD.glg
documents/EmotionConfig Documentation.aux
documents/EmotionConfig Documentation.log
documents/EmotionConfig Documentation.out
documents/EmotionConfig Documentation.synctex.gz
documents/Sprint reflection sprint 4.aux
documents/Sprint reflection sprint 4.log
documents/Sprint reflection sprint 4.out
Sprint reflection sprint 4.synctex.gz
documents/Project Documentation.aux
documents/Project Documentation.log
documents/Project Documentation.out
Project Documentation.synctex.gz
